body {
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
      height: 100vh; /* Add this line */
      margin: 0; /* Optional: remove default body margin */



}


.choice-button {
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(230, 212, 20);
  border-radius: 50px;
  cursor: pointer;
}

.choice-image {
  height: 75px;
}